@font-face {
    font-family: "FiraGoRegular";
    src: url(../../../public/Fonts/FiraGO-Regular.woff);
}
@font-face {
    font-family: "FiraGoBold";
    src: url(../../../public/Fonts/FiraGO-Bold.woff);
}

.AddListingPageDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AddListingPageHeader{
    font-family: "FiraGoBold";  
    font-size: 32px;
    font-weight: 500px;
    margin-top: 62px;
}
.listingFormDiv{
    width: 790px;
    margin-top: 61px;
}
.offerTypeDiv{
    display: flex;
    flex-direction: column; 

}
.addListingHeader{
    font-family: "FiraGoBold";  
        font-size: 16px;
        font-weight: 500px;
}
.offerTypeRadioButtons{
    font-family: "FiraGoRegular";
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    gap: 84px;
}
.radioButton {
    appearance: none; 
    width: 17px; 
    height: 17px; 
    border: 1px solid black;
    border-radius: 50%; 
    outline: none;
    cursor: pointer; 
    position: relative;
    background-color: white; 
  }
  
  .radioButton:checked {
    background-color: transparent; 
  }
  
  .radioButton:checked::before {
    content: '';
    width: 7px; 
    height: 7px; 
    background-color: black; 
    border-radius: 50%;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  .radioButton:focus {
    outline: none; 
  }
  .addListingLocation{
    margin-top: 80px;
  }
  .listingFormLine{
    display: flex;
    gap:20px;
    margin-top: 22px;
  }
  .listingFormDropDown{
    width: 384px;
    height: 42px;
    border: 1px solid #808A93;
    border-radius: 6px;
    outline: none;
    background-color: #ffff;
  }

  .formDescriptionInput{
    width: 788px;
    height: 135px;
    border: 1px solid #808A93;
    border-radius: 6px;
    outline: none;
  }
  .listingFormInputLabel{
    font-family: "FiraGoBold";
    font-size: 14px;
    font-weight: 500px;
    color: #021526;
}
.formInput{
  width: 384px;
  height: 42px;
  border: 1px solid #808A93;
  border-radius: 6px;
  outline: none;
}
.validationHint{
    font-family: "FiraGoRegular";
    font-weight: 400px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;

}
.formLine{
    display: flex;
    gap: 31px;
}
.listingImageUploadDiv{
    display: flex;
    flex-direction: column;
    font-family: "FiraGoRegular";
    font-weight: 400px;
    font-size: 14px;
    gap: 10px;
    margin-top: 20px;
}
.listingImageInputForm{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #2D3648;
    border-radius: 8px;
    cursor: pointer;

}
.listingModalButtonsDiv{
  width: 811px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  margin-top: 94px;
}

.modalButton{
  font-family: "FiraGoBold";
  font-size: 16px;
  height: 47px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 14px 16px 14px 16px;
}
.cancelListing{
  color: #F93B1D;
  border: 1px solid #F93B1D;
}
.addListing{
color: white;
background-color: #F93B1D;
}
.errorLabel {
  color: #F93B1D;
}

.errorInput {
  border-color: #F93B1D; 
}

.errorHint {
  color: #F93B1D;
}
.uploadedImage {
  position: relative;
  display: inline-block; 
}
.removeImageIcon {
  position: absolute;
  top: 63px;
  left: 76px; 
  cursor: pointer; 
}